#mainContainer {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}

#topBar {
    background-color: grey;
    display: flex;
    height: 75px;
    align-items: center;
}

#navButton {
    height: 75px;
    width: 75px;
    background-color: lightblue;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#navButton:hover {
    background-color: rgb(168, 230, 255);
}

#logo {
    margin-right: auto;
    padding-left: 24px;
    font-size: 36px;
    font-style: italic;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9vh;
}

#footer {
    margin-top: auto;
    background-color: grey;
    height: 75px;
    text-align: center;
}
#footer > p {
    margin-top: 28px;
}

#mainMenu {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    gap: 10px;
}

.mainMenuButton {
    width: 150px;
    height: 50px;
    background-color: lightblue;
    border: 2px solid rgb(155, 173, 197);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.mainMenuButton:hover {
    background-color: rgb(168, 230, 255);
}
.mainMenuButton:active {
    background-color: rgb(196, 219, 248);
    transform: translateY(1px);
}

/* FORMS FOR NEW ENTRIES */

#newProjForm {
    display:flex;
    flex-direction: column;
    width: 460px;
    padding: 30px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9vh;
    background-color: lightsteelblue;
    border: 2px solid rgb(155, 173, 197);
    border-radius: 10px;
}

#newTodoForm {
  display:flex;
  flex-direction: column;
  width: 460px;
  padding: 30px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9vh;
  background-color: lightsteelblue;
  border: 2px solid rgb(155, 173, 197);
  border-radius: 10px;
}

.formLabel {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 12px;
}

.radioLabel {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#prioBox {
    display: flex;
}

.submitButton {
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  border: 2px solid rgb(155, 173, 197);
  border-radius: 5px;
}
.submitButton:hover {
  background-color: rgb(168, 230, 255);
}
.submitButton:active {
  background-color: rgb(196, 219, 248);
  transform: translateY(1px);
}

/* ALL PROJECTS VIEW */

#allProjectsContainer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9vh;
    width: 700px;
}

.individualProject {
    display: flex;
    width: 680px;
    height: 75px;
    background-color: lightsteelblue;
    border: 2px solid rgb(155, 173, 197);
    border-radius: 10px;
    align-items: center;
}

.addDueDate {
    width: 100px;
    text-align: center;
}
.addPriority {
    width: 75px;
    text-align: center;
    margin-right: auto;
}
.addTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* TODOS VIEW */

#allTodosContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9vh;
  width: 700px;
}

.todoCompleteToggle {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: auto;
  background-color: lightblue;
  border: 2px solid rgb(155, 173, 197);
  border-radius: 5px;
  height: 50px;
  width: 75px;
}
.todoDelete {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 85px;
  background-color: lightblue;
  border: 2px solid rgb(155, 173, 197);
  border-radius: 5px;
  height: 50px;
  width: 75px;
}